extends base.pug

block styles
    link(rel="stylesheet", href="/styles/main.css")

block content
    main
        form.product-form(action="/add-product", method="post")
            label(for="title") 
            input(type="text", name="title")#title

            button.btn(type="submit", class="var===true?'active':''") Add product