doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/main.css")
        title Add product
    body 
        header.main-header 
            nav.main-header_nav 
                ul.main-header_item-list 
                    li.main-header_item 
                        a.active(href='/') Shop 
        
        form.product-form(action="/add-product", method="post")
            label(for="title") 
            input(type="text", name="title")#title

            button.btn(type="submit") Add product