doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/main.css")
        title #{title}
    body 
        header.main-header 
            nav.main-header_nav 
                ul.main-header_item-list 
                    li.main-header_item 
                        a.active(href='/add-product') Add product
            main 
                if prods.length > 0
                    each product in prods 
                        p #{product.title}
                else 
                    p No Product Found

