extends base.pug

block styles
    link(rel="stylesheet", href="/styles/main.css")

block content
    main 
        if prods.length > 0
            each product in prods 
                 p #{product.title}
        else 
            p No Product Found

